/*html style*/
html {
    height: 100%;
}

/*page background style*/
body {
    height: max-content;
    background: linear-gradient(#3c394a, #dcdcdc 20%, #dcdcdc 80%, #3c394a);
    font-family: Arial, Helvetica, sans-serif;
}

/*placeholder div style*/
div#placeholder {
    height: 50px;
    width: 100%;
    text-align: center;
}

/*header div style*/
div#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #002023;
}

/*animated 7-color text style*/
h1.animated7colors {
    margin: 1%;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff3c5c 0%,
        #ff8036 14%,
        #cade34 29%,
        #3ad86f 43%,
        #2fd5e5 57%,
        #2a6fe5 71%,
        #c13cff 86%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200%auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 36px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*buttons div style*/
div#buttons {
    margin: 2%;
    top: 10%;
    text-align: center;
}

/* button style */
button{
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
}
button:hover{
    color: #000;
    text-shadow: 0px 0px 2px #000;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}
@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

/*Span style*/
span.white {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-size: 16px;
    font-weight: bold;
}

/* Defined the style for a table with id "dolls" */
table#dolls {
    border-collapse: collapse;
    width: 100%;
}
/*Table headers style*/
table#dolls th {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    text-align: left;
}
/*Table data style*/
table#dolls td {
    border: 1px solid #ddd;
    padding: 8px;
}
table#dolls td.tooltip {
    position: relative;
    text-decoration: underline;
    text-decoration-style: dotted;
}
table#dolls td.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 105%;
    opacity: 0;
    transition: opacity 0.3s;
}
table#dolls td.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}
table#dolls td.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*Table data style for even rows*/
table#dolls tr:nth-child(even){background-color: #f2f2f2;}

/*Table data style for mouse hover*/
table#dolls tr:hover {background-color: #ddd;}

/*Icon Cell style*/
table#dolls td.icon {
    padding:0px;
    margin: 0px;
    text-align: center;
}
/*Icon style*/
table#dolls td.icon svg {
    height: 20px;
    width: 20px;
}
table#dolls td.icon svg circle.running {
    fill: #2c7d2e;
    stroke: #002fff;
    stroke-width: 1;
}
table#dolls td.icon svg circle.stopped {
    fill: #f44336;
    stroke: #002fff;
    stroke-width: 1;
}

/*footer style*/
div#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002023;
    color: white;
    text-align: center;
}